# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Yarn Integrity file
.yarn-integrity

# next.js build output
.next

# ParcelJS cache folder
.cache/

# ParcelJS build folder
dist/

# Local Netlify folder
.netlify
